@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
* {
  margin: 0%;
  padding: none;

}
body{
    
    background: linear-gradient(90deg, rgba(40,40,42,1) 0%, rgba(246,246,246,1) 49%, rgba(40,40,42,1) 100%);
}
.todos{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
}
h1{
  font-family: 'Ruda', sans-serif;
  font-size: 40px;
  text-align: center;
}
p{
  font-family: 'Shantell Sans', cursive;
  text-align: center;
  font-size: 20px;
}
.um{

    font-family: 'Shantell Sans', cursive;
    font-size: 20px;
    padding: 5%;
}
.dois{

    font-family: 'Shantell Sans', cursive;
    font-size: 20px;
    padding: 5%;
}
.tres{

    font-family: 'Shantell Sans', cursive;
    font-size: 20px;
    padding: 5%;
   
}


.card {
    box-sizing: border-box;
   
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
   
  }
 
  
  .card:hover {
    box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
    
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }



  .linha{
    width: 100%;
    height: 2px;
    background-color: rgba(102, 93, 74, 0.74);
    margin-top: 3%;
    box-shadow: 30px 6px 9px rgb(59, 53, 53);
  }
  .linha2{
    width: 100%;
    height: 2px;
    background-color: rgba(102, 93, 74, 0.74);
    margin-bottom: 3%;
   
  }

main{
    background-color: rgba(31, 45, 245, 0.116);
}


@media (max-width: 800px){

  .todos{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
     
  }
  

}


#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}




.logoo{
  width: 6%;
  margin-top: 2%;
}

#menu {
  margin-top: 6%;
  display: flex;
  list-style: none;
  gap: 0.5rem;
  
}

#menu a {
  
  display: block;
  padding: 2.0rem;
  color: #ffc550;
  text-decoration: none;
  font-family: 'Antonio', sans-serif;
  font-size: 35px;

  
}

#menu a:hover{

  transition: 1s;
  color: #ffffff;
}

#btn-mobile {
  display: none;
}

@media (max-width: 1000px) {
  #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #f7e7d1;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    
  }

  #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
  }

  #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      color: #332915;
   
  }

  #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
  }

  #hamburger {
      border-top: 2px solid;
      width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
  }

  #nav.active #hamburger {
      border-top-color: transparent;
  }

  #nav.active #hamburger::before {
      transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
  }
  .logoo{
    display: none;
  }
}

h1{
  margin: 5%;
}









